# @todo rename to .gitconfig
[alias]
  ci = commit
  reh = reset --hard
  fp = fetch --prune
  st = status
  gr = log --oneline --decorate --branches --graph -n 10
  ap = add --patch
  co = checkout
[color]
  ui = always
[core]
  editor = vim
  pager = cat

